.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 0.5rem;
}
body {
    background-color: grey;
}
#display {
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    background-color: white;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: right;
}
button {
  font-size: 10rem;
  color: white;
  background: navy;
  border-radius: 1rem;
}
